html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #0B0C10;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

p{
	display: flex;
	justify-content: center;
	align-items: center;
}

#navbar{
	background-color: black;
	position: fixed;
	top: 0;
	width: 100%;
	height: 8vh;
	display: grid;
	grid-template-columns: 20% 60%;
	text-align: left;
	align-items: center;
	justify-content: space-around;
	justify-content: center;
	transition: all 0.3s ease;

}

#navbar:hover{
	color: black;
	background-color: white;
}

#navbar:hover a{
	color: grey;
}

#navbar label{
	display: none;
	padding-right: 40px;
}

#toggler{
	display: none;
}

.links{
	text-align: right;
}

.links a{
	padding-left: 30px;
	text-decoration: none;
	color: white;
	cursor: pointer;
	transition: all 0.2s ease;
}

.links a:hover{
	color: #45A29E;
}

#top-section{
	height: 700px;
	text-align: center;
}

#top-titles{
	padding-bottom: 50px;
}

.icons{
	color: white;
	font-size: 3em;
	text-decoration: none;
	padding: 10px;	
}

#arrow i{
	animation-name: hover;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
}

#sketch-holder {
  	margin-top: 180px;
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

.page-wrapper{
	width: 100vw;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.about-me{
	height: auto;
	padding-bottom: 30px;
}

.highlight_text{
	color: #45A29E;
}

.about-me h1{
	width: 100%;
	padding-top: 70px;
	font-size: 50px;
}

.about-text{
	margin-top: -120px; 
	display: inline-block;
	width: 60%;
	font-size: 20px;
}

.about-cards{
	padding-top: 30px;
	display: grid;
	grid-template-columns: 30% 30%;
	grid-gap: 1em;
	justify-content: center;
}

.projects{
	height: auto;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #C5C6C7;
	color: black;
}

.project-cards{
	display: grid;
	grid-template-columns: 40% 40%;
	grid-gap: 1em;
	justify-content: center;
}

.pcard{
	padding: 2em;
	font-size: 15px;
	color: #0b0C10;
}

.pcard p{
	color: #1F2833;
}

.myButton {
	border: none;
	background-color: #45A29E;
	color: white;
	cursor:pointer;
	padding:6px 20px;
	text-decoration:none;
	outline: none;
	transition: all .5s;
}

.myButton:hover {
	background-color: #66FCF1;
	color: #1F2833;
}

#social-icons{
	font-size: 6px;

}

#social-icons a{
	transition: all 0.3s ease;
}

#social-icons a:hover{
	color: #45A29E;
}

#footer{
	display: grid;
	grid-template-columns: 50% 50%;
	justify-content:center;
	align-items: center;
	text-align: center;
	height: 50px;
}

@media screen and (max-width: 950px){
	.pcard{
		font-size: 10px;
	}
}

@media screen and (max-width: 865px){
	#top-titles{
		padding-bottom: 150px;
	}

	.about-cards{
		grid-template-columns: 100%;
	}
	
	.project-cards{
		grid-template-columns: 100%;
	}

	.project-cards p{
		font-size: 15px;
	}
}

@media screen and (max-width: 600px){
	#navbar label{
		display: block;
		cursor: pointer;
		text-align: right;
	}

	#navbar{
		grid-template-columns: 100%;
		grid-template-rows: 7vh;
		padding-right: 50px;
	}

	.links{
		display: none;
	}

	.links a{
		color: black;
		/*width: 100vw;*/
		padding: 40px 0;
		padding-right: 40px;
		display: block;
		background-color: white;
	}

	#navbar h3{
		display: none;
	}

	#toggler:checked + .links{
		display: block;
	}
}

@keyframes hover{
	0%{
		transform: translateY(-10px);
	}
	50%{
		transform: translateY(5px);
	}
	100%{
		transform: translateY(-10px);
	}

}